{% load static %}
<!--Main Wrapper-->
<style>
    .main-location .choose-location .foodbakery-radius-location { position: absolute; top: 13px;  left:13px; cursor: pointer; }
</style>
<div class="wrapper">
			
</div>
<header id="header">
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="logo">
                        <figure>
                            <a href="{% url 'home' %}" class="light-logo">
                                <img src="{%static 'logo/logo.png' %}" alt="FoodBakery">
                            </a>
                        </figure>
                    </div>
                    
                    <div class="main-location ml-5">
                        <ul>
                            <li class="location-has-children choose-location">
                                <form action="#" style="direction:rtl">
                                    <input type="text" value="" name="location" placeholder="جستجو محل زندگی" autocomplete="off">
                                    <span id="foodbakery_radius_location_open" class="foodbakery-radius-location" ><i class="icon-target5"></i></span>
                                </form>
                                
                            </li>
                        </ul>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="login-option">
                        {% if user.is_authenticated %}
                        <a class="cs-color cs-popup-joinus-btn login-popup"  data-toggle="modal" href="{% url 'myAccount' %}" style="margin-left: 0;">
                            داشبورد 
                             </a>
                             /
                        <a class="cs-color cs-popup-joinus-btn login-popup text-danger" data-toggle="modal" href="{% url 'logout' %}" style="margin-left: 0;">
                            خروج 
                             </a>                           
                        {% else %}
                        <a class="cs-color cs-popup-joinus-btn login-popup" data-toggle="modal" href="{% url 'login' %}" style="margin-left: 0;">
                            ورود 
                             </a>
                             /
                             <span><a style="font-size: 13px;color: #333;margin-left: 15px;" class="cs-color" href=" {% url 'registerUser' %} " style="margin-left: 10px;">ثبت نام</a></span>
                       
                            <a class="get-start-btn " href="{% url 'registerVendor' %}">
                            ثبت داروخانه </a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->